body {
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: #000000;
}
main {
  margin-bottom: 100px;
}

header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header .logo {
  color: #FFD700;
  font-size: 24px;
  text-decoration: none;
  font-weight: 500;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

nav a:hover {
    color: #FFD700;
}

/* Start Card */
.hero {
  background-color: #FFD700;
  color: #000;
  padding: 80px 20px;
  text-align: center;
  font-size: 20px;
}

.hero h1 {
  font-size: 50px;
}

.hero p {
  padding-bottom: 20px;
}

.get-started-btn {
  color: #FFD700;
  /* background-color: #000; */
  background-color: #111;
  font-weight: 10px;
  height: 50px;
  width: 150px;
  border-radius: 12px;
  font-size: 20px;
}

.get-started-btn:hover {
  color: #000;
  background-color: #FFD700;
  border-radius: 15px
}

.features {
  padding-top: 20px;
  display: flex;
  background-color: #000;
  justify-content: space-between;
  width: 100%;
}

.feature {
  width: 300px;
  text-align: center;
}

.features h2 {
    color: #FFD700;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.features p {
  color: #fff;
  margin-bottom: 35px;
}

/* footer */
footer {
  max-height: 30px;
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}
