.login-section {
  display: flex;
  background-color: #000;
  justify-content: center;
  align-items: center;
  padding: 80px;
  border-color: black;
  margin-bottom: 80px;
}

.login-card {
  background-color: #111;
  border-color: #FFD700;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  margin: 20px;
  padding: 40px;
  padding-right: 60px;
}

.login-card h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #FFD700;
}

.login-card form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-card form label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.login-card form label input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
}

.login-card form label input:focus {
  border-color: #FFD700;
  outline: none;
}

.login-card form button {
  width: 100%;
  padding: 15px;
  background-color: #FFD700;
  color: #000;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.login-card form button:hover {
  background-color: #8f7901;
  color: #FFD700;
}

.login-card .registration-link {
  /* text-align: center; */
  margin-top: 15px;
}

.login-card form p {
  align-self: center;
}

.login-card form p a {
  color: #FFD700;
  text-decoration: none;
  font-weight: bold;
}

.login-card form p a:hover {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}
