.main-section {
  width: 100%;
  margin-left: 0px;
  margin-right: 5px;
  background-color: #000;
}

.vertical-menu {
  width: 0px;
}

.quiz-container {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 800px;
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.countdown-timer {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

#question-text {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

#options-list {
  font-size: 1rem;
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.option-item {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  align-items: center;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.option-item.selected {
  background-color: #FFD700;
  border: 2px solid #000;
  color: #000;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.quiz-navigation {
  display: flex;
  justify-content: space-between;
}

.quiz-navigation button {
  background-color: #FFD700;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.quiz-navigation button:hover:not(:disabled) {
  background-color: #e5c100;
}

.quiz-navigation button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

footer {
  margin-left: 0px;
}

@media (max-width: 912px) {
  .vertical-menu {
    width: 0px;
  }
}
